.tabs-md {
  --background: transparent !important;
}

ion-tabs {
  --background: #feecec !important;
  border: 1px transparent;
  border-radius: 30px !important;
}

ion-tab-bar {
  --background: #feecec;
}
