<ion-content [fullscreen]="true">
	<div class="topText" align="center">
		<h2 style="font-size:35px">Hospitals</h2>
	</div>
	<ion-card align="center" *ngFor="let hosp of allHospData">
		<ion-card-header align="center">
			<ion-card-title> {{hosp.name}}</ion-card-title>
		</ion-card-header>
		<ion-card-content align="center">
			<p style="color:#E8A9AA">{{hosp.phone}}</p>
			<p *ngIf="check(hosp)" style="color: #894040;"> <span class="circle"></span> Urgent</p>
			<ion-button *ngIf="check(hosp)" shape="round">Help Them</ion-button>
			<p *ngIf="!check(hosp)" style="color: #894040;">Self-Sufficient</p>
			<br>
		</ion-card-content>
	</ion-card>
	<ion-fab vertical="bottom" horizontal="end" slot="fixed" (click)="presentModal()">
		<ion-fab-button color="tertiary">
			<ion-icon name="notifications"></ion-icon>
		</ion-fab-button>
	</ion-fab>
</ion-content>